mat-form-field {
  width: 100%;
}
mat-spinner {
  margin: auto;
}
.btnWrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.submit-btn {
  display: block;
  margin: auto;
}

.pageTitle {
  display: flex;
  justify-content: center;
}
